body {
  background: #ffffff;
  font-family: Arial, sans-serif;
}

.matrix-content, .indicator-content, .scores, .question-content {
  display: none;
}

ol, ul {
  margin: 5px 0 0 10px;
  padding: 0 0 0 10px;
}

h1 {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 14px;
}

.matrix-tile {
  font-size: 1.3em;
}

.comment .group {
  color: red;
  font-style: italic;
}

.comment .value {
  font-weight: bold;
}

table.division {
  border: 1px solid black;
}
table.division th {
  font-size: 10px;
  font-weight: normal;
  text-align: right;
}
table.division td .bar {
  border: 1px solid black;
  background-color: red;
  float: left;
  height: 1em;
  margin-right: 5px;
}
table.division td {
  padding-right: 5px;
}

h3 {
  color: black;
  padding: 4px 0;
  font-size: 14px;
  margin: 0;
}
.statistics, table.division, table.division th, table.division td {
  font-size: 12px;
}
.statistics dl {
  margin: 0.5em 0;
  width: 600px;
  border: 1px solid black;
}
.statistics dt {
  font-weight: bold;
  width: 200px;
  text-align: right;
  float: left;
  clear: left;
}
.statistics dd {
  margin-left: 210px;
}
.comment {
  margin: 0;
  color: #888888;
  font-size: 10px;
}
td.barbox {
  width: 350px;
}

.tabbar {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 0;
  margin: 4px 0 0 0;
}

.tabbar li {
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 3px;
  margin: 0 2px -1px 2px;
  font-size: 10px;
}
.tabbar li.selected {
  background-color: white;
  border-color: #888;
  border-bottom: 1px solid white;
}

.tabbar li a {
  color: #333;
  text-decoration: none;
}
.tabbar li a:hover {
  color: black;
}
.detail_tab {
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  margin-bottom: 5px;
  padding: 10px;
}

